* {
	 box-sizing: border-box;
}

html {
	 font-family: Arial, sans-serif;
}

body {
	 margin-left: 400px;
	 margin-top: 100px;
}

.form {
	 position: relative;
	 width: 570px;
	 height: 570px;
	 background-image: url(../img/bg.jpg);
}

.form-area {
	 position: absolute;
	 margin-top: 100px;
	 margin-left: 125px;
	 width: 320px;
	 height: 370px;
	 background-color: #fff;
	 border: 1px solid #cfdede;
}

h4 {
	 text-transform: uppercase;
	 font-weight: 700;
	 font-size: 12px;
	 letter-spacing: -0.2px;
	 text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.1);
	 text-align: center;
	 margin-top: -5px;
	 margin-left: 29px;
	 margin-bottom: 33px;
	 padding: 7px 9px;
  width: 151px;
  height: 25px;
	 color: #fff;
	 background-color: #01b3b3;
	 box-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.1);
	 border: none;
}

.email-header {
	 letter-spacing: 0.2px;
  font-size: 12px;
  font-weight: 700;
  margin-left: 29px;
  color: #333;
}

.password1-header {
	 letter-spacing: 0.1px;
  margin-top: 14px;
  font-size: 12px;
  font-weight: 700;
  margin-left: 29px;
  color: #333;
}

.password2-header {
	 letter-spacing: 0.1px;
  margin-top: 13px;
  font-size: 12px;
  font-weight: 700;
  margin-left: 29px;
  color: #333;
}

.star {
	 color:#01b3b3;
}

.input1 {
	 padding-bottom: 1px;
	 margin-bottom: 3px;
	 margin-left: 29px;
	 width: 262px;
	 height: 32px;
	 color: #333333;
	 background-image: url(../img/bg.jpg);
	 border: 1px solid #cfdede;
	 border-radius: 2px;
}

input::-webkit-input-placeholder {
  font-size: 12px;
  text-align: left;
  font-style: italic;
  padding-left: 12px;
}

.input2 {
	 margin-bottom: 6px;
	 margin-left: 29px;
	 width: 262px;
	 height: 32px;
	 color: #333333;
	 background-image: url(../img/bg.jpg);
	 border: 1px solid #cfdede;
	 border-radius: 2px;
}

.input3 {
	 margin-left: 29px;
	 width: 262px;
	 height: 32px;
	 color: #333333;
	 background-image: url(../img/bg.jpg);
	 border: 1px solid #cfdede;
	 border-radius: 2px;
}

.btn {
	 font-weight: 700;
	 font-size: 16px;
	 text-transform: uppercase;
	 letter-spacing: 0.1px;
	 padding-left: 9px;
	 margin-top: 28px;
	 margin-left: 29px;
	 width: 260px;
	 height: 46px;
	 display: block;
	 color: #fff;
	 background-color: #01b3b3;
	 background: linear-gradient(to top, #01b1b1, #01c5c5);
	 text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0, 0.1);
	 border-radius: 4px;
	 border-top: 1px solid #41d4d4;
	 border-bottom: 1px solid #0aa2a2;
	 border-left: 1px solid #08b1b1;
	 border-right: 1px solid #07b4b4;
}