body {
	font-family: Arial, sans-serif;
}
 
 .conteiner{
 	padding:5% 15%;
 }

 .header {
	text-transform: uppercase;
	font-size: 36px;
	margin-bottom: 100px
}

p {
	font-size: 18px;
	margin-top: 20px;
}